@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import 'animations';
body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
#menu{
  width: 100%;
  background: black;
  overflow: hidden;
  &::after{

  }
  &::before{

  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      float: left;
      a{
        color: white;
        padding: 10px 20px;
        display: inline-block;
        &:hover{
          background: gray;
          text-decoration: none;
        }
      }
    }
  }
}

#main{
  position: absolute;
  top:40px;
  bottom: 0;
  left: 0;
  right: 0;
  //background: linear-gradient(130deg, #017F96 0px, #57D8EB 100%) no-repeat fixed 0% 0% #27A6BC;
  background: linear-gradient(130deg, #96013A 0px, #EB5757 100%) no-repeat fixed 0% 0% #BC2738;
}

#salutation{
  width: 100%;
  height: 80%;
  .heading{
    height: 80%;
    width: 100%;
    position: relative;
    color: white;
    h1{
      font-size: 80px;
      height: 80px;
      margin: 0;
    }
  }
  .wrapper{
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 0;
  }
}

section{
  &:after,
  &:before{
    display: table;
    content: ' ';
  }
}

#about{
  background: white;
  height: 120%;
  padding-top: 20%;
  img{
    max-width: 100%;
  }
  .about-image{
    text-align: center;
  }
  h1{
    font-weight: 100;
    margin: 30px 0 50px;
    strong{
      color: #EB5757;
      font-weight: 100;
    }
    span{
      display: inline-block;
    }
  }
  p{
    font-size: 20px;
  }
}

#skills{
  background: #2e353f;
  color: white;
  height: 80%;
  /* MACBOOK */
  .notebook{
    float: left;
    .screen{
      background: #fcfcfc;
      border-radius: 15px 15px 0 0;
      height: 185px;
      width: 280px;
      margin: 0 auto;
      &:before {
        content: "";
        position: absolute;
        border-radius: 50%;
        background: #a5adbd;
        height: 4px;
        width: 4px;
        margin: 5px 0 0 138px;
      }
      &:after{
        content: "";
        position: absolute;
        background: #161B21;
        height: 160px;
        width: 254px;
        border-radius: 2px;
        margin: 14px 0 0 13px;
        transition: background 1s ease-in-out;
      }
    }

    .keyboard {
      background: #f4f5f7;
      border-radius: 5px 5px 25px 25px;
      height: 8px;
      width: 350px;
      margin: 0 auto;
      &:after {
        content: "";
        position: absolute;
        background: #d8dbe1;
        height: 4px;
        width: 50px;
        margin: 0px 0px 0px 150px;
        border-radius: 0 0 8px 8px;
      }
      &:before {
        content: "";
        position: absolute;
        background: rgba(0,0,0,0.2);
        height: 8px;
        width: 370px;
        margin: 7px 0px 0px -10px;
        z-index: -1;
        border-radius: 100%;
      }
    }
  }
  .jigsaw1,
  .jigsaw1 span {
   background-color: #ADC9CD;
   font-size: 12px;
    width: 6em;
    height: 6em;
    position: relative;
    border-radius: .1em;
    .t {
     width: 2em;
      height: 2em;
      position: absolute;
      top: -1.5em;
      left: 2em;
      -webkit-border-radius: 4em;
      -moz-border-radius: 4em;
      border-radius: 4em;
    }
    .r {
     width: 2em;
      height: 2em;
      position: absolute;
      top: 2em;
      left: 5.5em;
      -webkit-border-radius: 4em;
      -moz-border-radius: 4em;
      border-radius: 4em;
    }
    .b {
     width: 1.8em;
      height: 1.8em;
      position: absolute;
      top: 4.5em;
      left: 2.2em;
      -webkit-border-radius: 4em;
      -moz-border-radius: 4em;
      border-radius: 4em;
      background-color: #2e353f;
    }
    .l {
     width: 1.8em;
      height: 1.8em;
      position: absolute;
      top: 2.2em;
      left: -.4em;
      -webkit-border-radius: 4em;
      -moz-border-radius: 4em;
      border-radius: 4em;
      background-color: #2e353f;
    }
  }

}


#portfolio{
  .project-column{
    width: 33.3333333333%;
    float: left;
  }
  .project{
    padding: 4px;
    background: #fff;
    transition: all 0.2s ease-in-out;
    margin: 20px 0;
    img{
      max-width: 100%;
    }
    .description{
      padding: 0 10px;
      h2{
        font-weight: 100;
      }
    }
    &:hover{
      color: white;
      transform: scale(1.03, 1.03);
      position: relative;
      z-index: 9;
      cursor: pointer;
    }
    &.am{
      &:hover{
        background: #1a3779;
      }
    }
    &.cc{
      &:hover{
        background: #ab826e;
        color: #321818;
      }
    }
    &.cm{
      &:hover{
        background: #00000e;
        color: white;
      }
    }
    &.rg{
      &:hover{
        background: #d41348;
        color: white;
      }
    }
    &.bs{
      &:hover{
        background: #d4739b;
        color: white;
      }
    }
    &.vo{
      &:hover{
        background: #373737;
        color: white;
      }
    }
    &.cp{
      &:hover{
        background: #cc3822;
        color: white;
      }
    }
    &.cl{
      &:hover{
        background: #3f5b81;
        color: white;
      }
    }
  }
}

#contact{
  padding: 10% 0 10%;
  background: #2aaabf;
  color: white;
  a{
    color: white;
    word-break: break-all;
  }
}


footer{
  background: black;
  color: white;
  padding: 20px 0;
  a{
    color: white;
    &:hover{
      color: white;
    }
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    li{
      padding: 0;
      display: inline-block;
      margin: 0 5px;
    }
  }
}
